* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: black;
    width: 100vw;
    height: 100vh;
}

.shadow {
    margin-bottom: 10px;
    box-shadow: 0px 5px 10px -5px darkgray;
}

.grid-container {
    background-color: white;
    width: 80%;
    margin: 25px auto;
    display: grid;
    grid-template-columns: 300px 3fr;
    grid-template-rows: 150px 1fr;
}

.header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.title {
    display: grid;
    grid-template-columns: 100px 1fr;
}

.title .avatar {
    grid-area: 1 / 1 / 3 / 2;
}

.actions {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.sidebar {
    grid-area: 1 / 1 / 3 / 2;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.sidebar .logo,
.sidebar .navigation,
.sidebar .settings {
    display: grid;
    grid-template-columns: 100px 1fr;
}

.main {
    display: grid;
    grid-template-columns: 4fr 2fr;
}

.projects h2 {
    height: 30px;
}

.projects .cards {
    height: calc(100% - calc(30px + 25px));
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 25px;
    margin: 25px;
}