:root {
    --blue-color: #60b7ed;
    --gray-color: #ecebeb;
    --dark-gray-color: rgb(102, 99, 99);
    --white-color: white;
}

* {
    /* outline: solid lightskyblue; */
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: black;
    width: 100vw;
    height: 100vh;
}

img.dark {
    height: 1.5rem;
}

.shadow {
    margin-bottom: 5px;
    box-shadow: 5px 5px 10px -5px rgb(79, 79, 79);
}

.grid-container {
    background-color: white;
    width: 80%;
    margin: 25px auto;
    display: grid;
    grid-template-columns: 300px 3fr;
    grid-template-rows: 150px 1fr;
}

.header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.title {
    display: grid;
    grid-template-columns: 100px 1fr;
}

.title .avatar {
    grid-area: 1 / 1 / 3 / 2;
}

.actions {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    align-items: center;
}

button {
    background-color: var(--blue-color);
    color: white;
    padding: 10px 25px;
    border: none;
    border-radius: 20px;
}

.sidebar {
    grid-area: 1 / 1 / 3 / 2;
    display: flex;
    flex-direction: column;
    gap: 50px;
    background-color: var(--blue-color);
    color: white;
}

.sidebar .logo,
.sidebar .navigation,
.sidebar .settings {
    display: grid;
    grid-template-columns: 100px 1fr;
}

.sidebar img {
    height: 2.5rem;
}

.main {
    background-color: var(--gray-color);
    padding: 30px 25px;
    display: grid;
    grid-template-columns: 4fr 2fr;
}

.projects h2 {
    margin-left: 25px;
    height: 30px;
}

.projects .cards {
    height: calc(100% - calc(30px + 25px));
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 25px;
    margin: 25px;
}

.card {
    background-color: var(--white-color);
    padding: 30px 25px;
    border-left: 8px solid orange;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
    gap: 5px;
}

.card p {
    color: var(--dark-gray-color);
}

.card .links {
    text-align: right;
}

.additional {
    display: grid;
    grid-template-rows: 55px 1.5fr 55px 1fr;
}

.add-card {
    background-color: var(--white-color);
    padding: 30px 25px;
    border-radius: 10px;
}

.add-card p {
    color: var(--dark-gray-color);
    font-size: 0.9rem;
}

.friend-card {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

hr {
    margin: 20px 0px;
}

.friend-card .avatar {
    grid-area: 1 / 1 / 3 / 2;
}