* {
    outline: solid lightskyblue;
    margin: 0px;
    padding: 0px;
}

body {
    width: 100vw;
    height: 100vh;
}

.grid-container {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 300px 3fr;
}

.header {
    /* grid-area: 1 / 2 / 2 / 3; */
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.title {
    display: grid;
    grid-template-columns: 100px 1fr;
}

.title .avatar {
    grid-area: 1 / 1 / 3 / 2;
}

.actions {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.sidebar {
    grid-area: 1 / 1 / 3 / 2;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.sidebar .logo,
.sidebar .navigation,
.sidebar .settings {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.main {
    /* grid-area: 2 / 2 / 3 / 3; */
}